.u-section-1 {
  background-image: url("images/80a51a0b7293317a273207178aa12358.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1306px;
}

.u-section-1 .u-image-1 {
  width: 144px;
  height: 144px;
  background-image: url("images/skullys.png");
  background-position: 50% 50%;
  margin: 270px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 0 auto 60px 461px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 10px;
    margin-left: 384px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
    margin-left: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 390px;
  }
}